In [4]:
cd C:\Users\rouna\OneDrive\Bureau\My_Files\AIM\tutoré\Scenario1\development_dataset

[WinError 3] Le chemin d’accès spécifié est introuvable: 'C:\\Users\\rouna\\OneDrive\\Bureau\\My_Files\\AIM\\tutoré\\Scenario1\\development_dataset'
C:\Users\rouna

In [3]:
import pandas as pd 
position_data = pd.read_csv("scenario1_dev_train.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'scenario1_dev_train.csv'

In [1]:
position_data

NameError: name 'position_data' is not defined

In [13]:
df2 = position_data.drop("index", axis=1)
df_gps = df2.drop("unit1_pwr_1", axis=1)
L_latitude=[]
L_longitude=[]
for i in range(1675):
    path=df_gps["unit2_loc_1"][i]
    cols = ["Latitude,Longitude"]
    df = pd.read_csv(path,names=cols,delimiter = ' ')
    L_latitude.append(df.iloc[0][0])
    L_longitude.append(df.iloc[1][0])
df_gps["Latitude"] = L_latitude
df_gps["Longitude"] = L_longitude
df_gps2 = df2.drop("unit1_pwr_1", axis=1)
df_gps3 = df_gps2.drop("unit2_loc_1", axis=1)
import pandas as pd
df_gps.to_csv("Position_data_final.csv",index=False)
df_gps_final = pd.read_csv("Position_data_final.csv")

In [7]:
df_gps = df2.drop("unit1_pwr_1", axis=1)
df_gps

                                 unit2_loc_1  beam_index_1
0      ./unit2/GPS_data/gps_location_502.txt            54
1      ./unit2/GPS_data/gps_location_701.txt            27
2      ./unit2/GPS_data/gps_location_684.txt            23
3      ./unit2/GPS_data/gps_location_132.txt            54
4      ./unit2/GPS_data/gps_location_620.txt             2
...                                      ...           ...
1670  ./unit2/GPS_data/gps_location_1790.txt            22
1671  ./unit2/GPS_data/gps_location_1365.txt            45
1672   ./unit2/GPS_data/gps_location_662.txt            16
1673  ./unit2/GPS_data/gps_location_1344.txt            58
1674  ./unit2/GPS_data/gps_location_1891.txt            26

[1675 rows x 2 columns]

In [57]:
L_latitude=[]
L_longitude=[]
for i in range(1584):
    path=df_gps["unit2_loc_1"][i]
    cols = ["Latitude,Longitude"]
    df = pd.read_csv(path,names=cols,delimiter = ' ')
    L_latitude.append(df.iloc[0][0])
    L_longitude.append(df.iloc[1][0])

In [14]:
import pandas as pd
df_gps.to_csv("Position_data_final.csv",index=False)

In [15]:
df_gps

,unit2_loc_1,beam_index_1,Latitude,Longitude
0,./unit2/GPS_data/gps_location_502.txt,54,33.420273,-111.928984
1,./unit2/GPS_data/gps_location_701.txt,27,33.420379,-111.928992
2,./unit2/GPS_data/gps_location_684.txt,23,33.420393,-111.928993
3,./unit2/GPS_data/gps_location_132.txt,54,33.420246,-111.928908
4,./unit2/GPS_data/gps_location_620.txt,2,33.420591,-111.928932
...,...,...,...,...
1670,./unit2/GPS_data/gps_location_1790.txt,22,33.420396,-111.929003
1671,./unit2/GPS_data/gps_location_1365.txt,45,33.420297,-111.928922
1672,./unit2/GPS_data/gps_location_662.txt,16,33.420425,-111.928996
1673,./unit2/GPS_data/gps_location_1344.txt,58,33.420260,-111.928980
1674,./unit2/GPS_data/gps_location_1891.txt,26,33.420403,-111.928925

In [8]:
df_gps["Latitude"] = L_latitude
df_gps["Longitude"] = L_longitude

In [9]:
df_gps2 = df2.drop("unit1_pwr_1", axis=1)

In [10]:
df_gps2

                                 unit2_loc_1  beam_index_1
0      ./unit2/GPS_data/gps_location_502.txt            54
1      ./unit2/GPS_data/gps_location_701.txt            27
2      ./unit2/GPS_data/gps_location_684.txt            23
3      ./unit2/GPS_data/gps_location_132.txt            54
4      ./unit2/GPS_data/gps_location_620.txt             2
...                                      ...           ...
1670  ./unit2/GPS_data/gps_location_1790.txt            22
1671  ./unit2/GPS_data/gps_location_1365.txt            45
1672   ./unit2/GPS_data/gps_location_662.txt            16
1673  ./unit2/GPS_data/gps_location_1344.txt            58
1674  ./unit2/GPS_data/gps_location_1891.txt            26

[1675 rows x 2 columns]

# Data augmentation

In [16]:
cd C:\Users\rouna\OneDrive\Bureau\My_Files\AIM\tutoré\Scenario1\development_dataset

C:\Users\rouna\OneDrive\Bureau\My_Files\AIM\tutoré\Scenario1\development_dataset

In [25]:
df1 = pd.read_csv("scenario5_dev_train.csv")

In [26]:
df1

,index,unit2_loc_1,unit1_pwr_1,beam_index_1
0,1,./unit2/GPS_data/gps_location_2412.txt,./unit1/mmWave_data/mmWave_power_2412.txt,37
1,2,./unit2/GPS_data/gps_location_669.txt,./unit1/mmWave_data/mmWave_power_669.txt,34
2,3,./unit2/GPS_data/gps_location_2172.txt,./unit1/mmWave_data/mmWave_power_2172.txt,4
3,4,./unit2/GPS_data/gps_location_1855.txt,./unit1/mmWave_data/mmWave_power_1855.txt,51
4,5,./unit2/GPS_data/gps_location_1136.txt,./unit1/mmWave_data/mmWave_power_1136.txt,29
...,...,...,...,...
1579,1580,./unit2/GPS_data/gps_location_1820.txt,./unit1/mmWave_data/mmWave_power_1820.txt,48
1580,1581,./unit2/GPS_data/gps_location_735.txt,./unit1/mmWave_data/mmWave_power_735.txt,49
1581,1582,./unit2/GPS_data/gps_location_237.txt,./unit1/mmWave_data/mmWave_power_237.txt,57
1582,1583,./unit2/GPS_data/gps_location_2067.txt,./unit1/mmWave_data/mmWave_power_2067.txt,55
1583,1584,./unit2/GPS_data/gps_location_1599.txt,./unit1/mmWave_data/mmWave_power_1599.txt,2

In [27]:
df2 = pd.read_csv("scenario5_dev_test.csv")

In [28]:
df2

,index,unit2_loc_1,unit1_pwr_1,beam_index_1
0,1,./unit2/GPS_data/gps_location_1908.txt,./unit1/mmWave_data/mmWave_power_1908.txt,2
1,2,./unit2/GPS_data/gps_location_587.txt,./unit1/mmWave_data/mmWave_power_587.txt,2
2,3,./unit2/GPS_data/gps_location_841.txt,./unit1/mmWave_data/mmWave_power_841.txt,30
3,4,./unit2/GPS_data/gps_location_583.txt,./unit1/mmWave_data/mmWave_power_583.txt,4
4,5,./unit2/GPS_data/gps_location_1339.txt,./unit1/mmWave_data/mmWave_power_1339.txt,39
...,...,...,...,...
312,313,./unit2/GPS_data/gps_location_835.txt,./unit1/mmWave_data/mmWave_power_835.txt,26
313,314,./unit2/GPS_data/gps_location_525.txt,./unit1/mmWave_data/mmWave_power_525.txt,59
314,315,./unit2/GPS_data/gps_location_544.txt,./unit1/mmWave_data/mmWave_power_544.txt,45
315,316,./unit2/GPS_data/gps_location_881.txt,./unit1/mmWave_data/mmWave_power_881.txt,57
316,317,./unit2/GPS_data/gps_location_1953.txt,./unit1/mmWave_data/mmWave_power_1953.txt,59

In [29]:
df3 = pd.read_csv("scenario5_dev_val.csv")

In [30]:
df3

,index,unit2_loc_1,unit1_pwr_1,beam_index_1
0,1,./unit2/GPS_data/gps_location_1402.txt,./unit1/mmWave_data/mmWave_power_1402.txt,42
1,2,./unit2/GPS_data/gps_location_79.txt,./unit1/mmWave_data/mmWave_power_79.txt,17
2,3,./unit2/GPS_data/gps_location_1018.txt,./unit1/mmWave_data/mmWave_power_1018.txt,45
3,4,./unit2/GPS_data/gps_location_87.txt,./unit1/mmWave_data/mmWave_power_87.txt,11
4,5,./unit2/GPS_data/gps_location_67.txt,./unit1/mmWave_data/mmWave_power_67.txt,26
...,...,...,...,...
394,395,./unit2/GPS_data/gps_location_1234.txt,./unit1/mmWave_data/mmWave_power_1234.txt,23
395,396,./unit2/GPS_data/gps_location_1378.txt,./unit1/mmWave_data/mmWave_power_1378.txt,56
396,397,./unit2/GPS_data/gps_location_1222.txt,./unit1/mmWave_data/mmWave_power_1222.txt,34
397,398,./unit2/GPS_data/gps_location_63.txt,./unit1/mmWave_data/mmWave_power_63.txt,28
398,399,./unit2/GPS_data/gps_location_1397.txt,./unit1/mmWave_data/mmWave_power_1397.txt,47

In [33]:
df_fusion1 = df1.append(df2, ignore_index = True)

In [34]:
df_fusion1

,index,unit2_loc_1,unit1_pwr_1,beam_index_1
0,1,./unit2/GPS_data/gps_location_2412.txt,./unit1/mmWave_data/mmWave_power_2412.txt,37
1,2,./unit2/GPS_data/gps_location_669.txt,./unit1/mmWave_data/mmWave_power_669.txt,34
2,3,./unit2/GPS_data/gps_location_2172.txt,./unit1/mmWave_data/mmWave_power_2172.txt,4
3,4,./unit2/GPS_data/gps_location_1855.txt,./unit1/mmWave_data/mmWave_power_1855.txt,51
4,5,./unit2/GPS_data/gps_location_1136.txt,./unit1/mmWave_data/mmWave_power_1136.txt,29
...,...,...,...,...
1896,313,./unit2/GPS_data/gps_location_835.txt,./unit1/mmWave_data/mmWave_power_835.txt,26
1897,314,./unit2/GPS_data/gps_location_525.txt,./unit1/mmWave_data/mmWave_power_525.txt,59
1898,315,./unit2/GPS_data/gps_location_544.txt,./unit1/mmWave_data/mmWave_power_544.txt,45
1899,316,./unit2/GPS_data/gps_location_881.txt,./unit1/mmWave_data/mmWave_power_881.txt,57
1900,317,./unit2/GPS_data/gps_location_1953.txt,./unit1/mmWave_data/mmWave_power_1953.txt,59

In [35]:
df_fusion2 = df_fusion1.append(df3, ignore_index = True)

In [36]:
df_fusion2

,index,unit2_loc_1,unit1_pwr_1,beam_index_1
0,1,./unit2/GPS_data/gps_location_2412.txt,./unit1/mmWave_data/mmWave_power_2412.txt,37
1,2,./unit2/GPS_data/gps_location_669.txt,./unit1/mmWave_data/mmWave_power_669.txt,34
2,3,./unit2/GPS_data/gps_location_2172.txt,./unit1/mmWave_data/mmWave_power_2172.txt,4
3,4,./unit2/GPS_data/gps_location_1855.txt,./unit1/mmWave_data/mmWave_power_1855.txt,51
4,5,./unit2/GPS_data/gps_location_1136.txt,./unit1/mmWave_data/mmWave_power_1136.txt,29
...,...,...,...,...
2295,395,./unit2/GPS_data/gps_location_1234.txt,./unit1/mmWave_data/mmWave_power_1234.txt,23
2296,396,./unit2/GPS_data/gps_location_1378.txt,./unit1/mmWave_data/mmWave_power_1378.txt,56
2297,397,./unit2/GPS_data/gps_location_1222.txt,./unit1/mmWave_data/mmWave_power_1222.txt,34
2298,398,./unit2/GPS_data/gps_location_63.txt,./unit1/mmWave_data/mmWave_power_63.txt,28
2299,399,./unit2/GPS_data/gps_location_1397.txt,./unit1/mmWave_data/mmWave_power_1397.txt,47

In [37]:
df_fusion3 = df_fusion2.append(df1, ignore_index = True)

In [38]:
df_fusion3

,index,unit2_loc_1,unit1_pwr_1,beam_index_1
0,1,./unit2/GPS_data/gps_location_2412.txt,./unit1/mmWave_data/mmWave_power_2412.txt,37
1,2,./unit2/GPS_data/gps_location_669.txt,./unit1/mmWave_data/mmWave_power_669.txt,34
2,3,./unit2/GPS_data/gps_location_2172.txt,./unit1/mmWave_data/mmWave_power_2172.txt,4
3,4,./unit2/GPS_data/gps_location_1855.txt,./unit1/mmWave_data/mmWave_power_1855.txt,51
4,5,./unit2/GPS_data/gps_location_1136.txt,./unit1/mmWave_data/mmWave_power_1136.txt,29
...,...,...,...,...
3879,1580,./unit2/GPS_data/gps_location_1820.txt,./unit1/mmWave_data/mmWave_power_1820.txt,48
3880,1581,./unit2/GPS_data/gps_location_735.txt,./unit1/mmWave_data/mmWave_power_735.txt,49
3881,1582,./unit2/GPS_data/gps_location_237.txt,./unit1/mmWave_data/mmWave_power_237.txt,57
3882,1583,./unit2/GPS_data/gps_location_2067.txt,./unit1/mmWave_data/mmWave_power_2067.txt,55
3883,1584,./unit2/GPS_data/gps_location_1599.txt,./unit1/mmWave_data/mmWave_power_1599.txt,2

In [39]:
df_fusion4 = df_fusion3.append(df_fusion3, ignore_index = True)

In [41]:
df_fusion4

,index,unit2_loc_1,unit1_pwr_1,beam_index_1
0,1,./unit2/GPS_data/gps_location_2412.txt,./unit1/mmWave_data/mmWave_power_2412.txt,37
1,2,./unit2/GPS_data/gps_location_669.txt,./unit1/mmWave_data/mmWave_power_669.txt,34
2,3,./unit2/GPS_data/gps_location_2172.txt,./unit1/mmWave_data/mmWave_power_2172.txt,4
3,4,./unit2/GPS_data/gps_location_1855.txt,./unit1/mmWave_data/mmWave_power_1855.txt,51
4,5,./unit2/GPS_data/gps_location_1136.txt,./unit1/mmWave_data/mmWave_power_1136.txt,29
...,...,...,...,...
7763,1580,./unit2/GPS_data/gps_location_1820.txt,./unit1/mmWave_data/mmWave_power_1820.txt,48
7764,1581,./unit2/GPS_data/gps_location_735.txt,./unit1/mmWave_data/mmWave_power_735.txt,49
7765,1582,./unit2/GPS_data/gps_location_237.txt,./unit1/mmWave_data/mmWave_power_237.txt,57
7766,1583,./unit2/GPS_data/gps_location_2067.txt,./unit1/mmWave_data/mmWave_power_2067.txt,55
7767,1584,./unit2/GPS_data/gps_location_1599.txt,./unit1/mmWave_data/mmWave_power_1599.txt,2

In [50]:
data = df_fusion4.drop("index", axis=1)
data = df_fusion4.drop("unit1_pwr_1", axis=1)
L_latitude=[]
L_longitude=[]
for i in range(7768):
    path=data["unit2_loc_1"][i]
    cols = ["Latitude,Longitude"]
    df = pd.read_csv(path,names=cols,delimiter = ' ')
    L_latitude.append(df.iloc[0][0])
    L_longitude.append(df.iloc[1][0])
data["Latitude"] = L_latitude
data["Longitude"] = L_longitude
data2 = data.drop("unit2_loc_1", axis=1)

In [52]:
data2

      index  beam_index_1   Latitude   Longitude
0         1            37  33.420694 -111.928930
1         2            34  33.420639 -111.929003
2         3             4  33.420774 -111.929004
3         4            51  33.420561 -111.928935
4         5            29  33.420662 -111.929004
...     ...           ...        ...         ...
7763   1580            48  33.420576 -111.929008
7764   1581            49  33.420579 -111.928934
7765   1582            57  33.420521 -111.928933
7766   1583            55  33.420525 -111.928999
7767   1584             2  33.420805 -111.929006

[7768 rows x 4 columns]

In [53]:
import pandas as pd
data2.to_csv("Position_data_final_augmented.csv",index=False)
df_gps_final_one = pd.read_csv("Position_data_final_augmented.csv")

In [54]:
df_gps_final_one

      index  beam_index_1   Latitude   Longitude
0         1            37  33.420694 -111.928930
1         2            34  33.420639 -111.929003
2         3             4  33.420774 -111.929004
3         4            51  33.420561 -111.928935
4         5            29  33.420662 -111.929004
...     ...           ...        ...         ...
7763   1580            48  33.420576 -111.929008
7764   1581            49  33.420579 -111.928934
7765   1582            57  33.420521 -111.928933
7766   1583            55  33.420525 -111.928999
7767   1584             2  33.420805 -111.929006

[7768 rows x 4 columns]